name: terraform-apply

on:
  push:
    branches: [ "master" ]
    paths:
      - "infra/**"
      - ".github/workflows/**"

permissions:
  contents: read

jobs:
  apply:
    runs-on: ubuntu-latest
    environment: production
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      TF_VAR_prefix: ${{ secrets.TF_VAR_prefix }}
      TF_VAR_location: ${{ secrets.TF_VAR_location }}
      TF_VAR_container_image: ${{ secrets.TF_VAR_container_image }}
      TF_VAR_sql_admin_password: ${{ secrets.TF_VAR_sql_admin_password }}

      TF_IN_AUTOMATION: "true"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      - name: Terraform init
        working-directory: infra
        run: terraform init -input=false

      - name: Terraform validate
        working-directory: infra
        run: terraform validate

      - name: Terraform apply
        working-directory: infra
        run: terraform apply -input=false -auto-approve
