name: deploy

on:
  push:
    branches: ["master"]

permissions:
  contents: read

jobs:
  build-and-push:
    name: Build & Push Docker image to ACR
    runs-on: ubuntu-latest
    outputs:
      image_full: ${{ steps.meta.outputs.image_full }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker login to ACR
        uses: azure/docker-login@v2
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Set image tag
        id: meta
        run: |
          TAG=${GITHUB_SHA::7}
          echo "image_full=${{ secrets.ACR_LOGIN_SERVER }}/dotnetcrudwebapi:$TAG" >> $GITHUB_OUTPUT

      - name: Build and push
        run: |
          docker build -t ${{ steps.meta.outputs.image_full }} .
          docker push ${{ steps.meta.outputs.image_full }}

  terraform-apply:
    name: Terraform apply (deploy image)
    runs-on: ubuntu-latest
    needs: build-and-push
    environment: production
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      TF_VAR_prefix: ${{ secrets.TF_VAR_prefix }}
      TF_VAR_location: ${{ secrets.TF_VAR_location }}
      TF_VAR_sql_admin_password: ${{ secrets.TF_VAR_sql_admin_password }}

      TF_VAR_container_image: ${{ needs.build-and-push.outputs.image_full }}
      TF_IN_AUTOMATION: "true"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      - name: Terraform init
        working-directory: infra
        run: terraform init -input=false

      - name: Terraform validate
        working-directory: infra
        run: terraform validate

      - name: Terraform apply
        working-directory: infra
        run: terraform apply -input=false -auto-approve
